.sidebar {
  background-color: var(--main-white);
  box-sizing: border-box;
  display: flex;
  border-right: 0.5px solid var(--medium-gray);
  flex-direction: column;
  height: 100vh;
  width: 4rem;
}