.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fdfdfd;
  background-color: var(--main-red);
  box-sizing: border-box;
  padding-left: 3rem;
  padding-right: 5rem;
  height: 4rem;
  width: 100%;
}

.home-header__title {
  font-size: 1.75rem;
  font-weight: 400;
}

.home-header__button {
  background-color: transparent;
  border: 0.125rem solid #fdfdfd;
  border-radius: 0.125rem;
  color: #fdfdfd;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.875rem;
  transition: 0.25s all;
  outline: none;
  height: 2.5rem;
  width: 6rem;
}

.home-header__button:hover,
.home-header__button:focus {
  background-color: #fdfdfd;
  color: var(--main-red);
}