.card {
	box-shadow: 1px 2px 5px 0px #0000004f;
	box-sizing: border-box;
	border-radius: 0.25rem;
	padding: 1rem;
	background-color: #fff;
	color: #fff;
	height: 7rem;
	width: 15rem;
}

.card.-red {
	background-color: #be4040;
}

.card.-green {
	background-color: #70b77d;
}

.card.-blue {
	background-color: #7083b7;
}

.card.-orange {
	background-color: #e9ab38;
}
