.sidebar-button {
  background-color: transparent;
  box-sizing: border-box;
  border: 0;
  border-bottom: 0.5px solid var(--medium-gray);
  border-left: 0.25rem solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  height: 4rem;
  width: 100%;
}

.sidebar-button:hover,
.sidebar-button:focus {
  filter: invert(0%);
}

.sidebar-button:focus:after,
.sidebar-button:hover:after {
  background: var(--dark-black); 
  color: var(--main-white);
  border: 1px solid var(--main-white);
  content:attr(data-title);
  position: absolute; 
  top: 0rem; 
  left: 3rem;
  padding: 0.25rem;
  font-size: 0.875rem;
}

.sidebar-button.-selected {
  background-color: var(--main-red);
  border-left: 0;
}

.siderbar-button__icon {
  filter: invert(25%);
  height: 1.5rem;
}

.sidebar-button.-selected > .siderbar-button__icon {
  filter: invert(100%);
}